#resetPasswordContent {
	background: url(../../../images/passwordBackground.jpg) no-repeat;
	background-size: cover;
}

/* Only Desktop */
@media (min-width : 1200px) {
	#resetPasswordContent {
		/*background-size: 100%;*/
	}
}

#resetPasswordContent .row {
	margin-bottom: 0px;
}

#resetPassworPanel {
    background: white;
    margin-top: 126px;
    margin-bottom: 126px;
    padding: 50px;
}

.resetButton {
	width: 100%;
	border: none;   
	margin: 0px;
	border-radius: 0px !important;
	height: 40px;
}

.resetInputText {
	margin: 4px 0px;
    width: 100%;
    padding: 8px;
    font-size: 14px !important;
    height: 40px;
    border-radius: 0 !important;
    border: solid 1px #dcdcdc !important;
}

.leftResetContainer {
	padding-right: 0px !important;	
}

.rightResetContainer {
	padding-left: 0px !important;	
}

.resetMainTitle {
	font-weight: bold;
	font-size: 26px !important;
}

.resetTitle {
	text-align: center;
	margin-bottom: 30px;
	font-size: 15px;
}

#WC_UserRegistrationAddForm_div_3{
	margin-top: 10px;
}
