/*
 *-----------------------------------------------------------------
 * Licensed Materials - Property of IBM
 *
 * WebSphere Commerce
 *
 * (C) Copyright IBM Corp. 2013, 2014 All Rights Reserved.
 *
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with
 * IBM Corp.
 *-----------------------------------------------------------------
 */

.homeHero {
	position: relative;
	text-align:center;
}

/* Background */

.homeHero-background {
	position: absolute;
	left: 0;
	width: 100%;
	height: 334px;
	text-align: center;
	/*background-repeat: no-repeat;
	background-size: contain;
	background-position: center top;*/
}
.homeHero-background  img{
	display: block;
	position: absolute;
	left:50%;
	margin-left: -480px;
}

/* Layered image */

.homeHero > .imageContainer {
	position: absolute;
	right: 0;
	top: 0;
	width: 35%;
}
.homeHero > .imageContainer > div {
	width: 100%;
	padding-bottom: 400%;
	background-repeat: no-repeat;
	background-size: contain;
}
/* TODO : les images ne sont pas en css, les ids 1-3 pas en dur */
#homeHero1 > .imageContainer > div {
	min-width: 240px;
	max-width: 399px;
	background-image: url("girl.png");
}
#homeHero2 > .imageContainer > div {
	min-width: 310px;
	max-width: 507px;
	background-image: url("rob.png");
}
#homeHero3 > .imageContainer > div {
	min-width: 274px;
	max-width: 446px;
	background-image: url("teen.png");
}
.homeHero > .imageContainer > img {
	width: 100%;
}
#homeHero1 > .imageContainer > img {
	min-width: 240px;
	max-width: 399px;
}
#homeHero2 > .imageContainer > img {
	min-width: 310px;
	max-width: 507px;
}
#homeHero3 > .imageContainer > img {
	min-width: 274px;
	max-width: 446px;
}

/* Text */

.homeHero > .textContainer {
	position: relative;
	margin: 75px 20px 0;
	color: #fff;
	font-size: 15px;
}
.homeHero > .textContainer > h3 {
	font-size: 50px;
	line-height: 1;
	text-shadow: 0px 0px 20px #000;
	font-weight: normal;
}
.homeHero > .textContainer > .toggle {
	display: none;
}
.homeHero > .textContainer > p {
	margin: 0;
	font-size: 24px;
	font-style: italic;
	text-shadow: 0px 0px 15px #000;
}
.homeHero > .textContainer > .button {
	margin: 8px 0;
	color: #ff8105;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
}

/* 0-800px */

@media (max-width: 800px) {

	.homeHero > .textContainer {
		margin-top:95px;
	}
	.homeHero > .textContainer > h3 {
		font-size: 6vw;
	}
	.homeHero > .textContainer > p {
		font-size: 3vw;
		max-width: 85%;
		margin: 0 auto;
	}
}

/* 0-600px */

@media (max-width: 600px) {

	.homeHero {
		min-height: 250px;
	}
	.homeHero > .textContainer > h3 {
		font-size: 6vw;
	}
	.homeHero > .textContainer > p {
		font-size: 4vw;
	}

	/* Flattened JPG - uncomment to use */
	/*
	.homeHero-background {
		display: none;
		background-image: none !important;
	}
	.homeHero > .imageContainer {
		width: 100%;
	}
	.homeHero > .imageContainer > div {
		width: 125% !important;
		min-width: 0 !important;
		max-width: none !important;
		margin-left: -25%;
		padding-bottom: 435px;
		background-position: right top;
		background-size: auto;
	}
	#homeHero1 > .imageContainer > div {
		background-image: url("girl-flat_rwda.jpg");
	}
	#homeHero2 > .imageContainer > div {
		background-image: url("rob-flat_rwda.jpg");
	}
	#homeHero3 > .imageContainer > div {
		background-image: url("teen-flat_rwda.jpg");
	}
	*/

	/* Text */

	.homeHero > .textContainer > .toggle {
		display: block;
		margin: 5px 0;
	}
	.homeHero > .textContainer > .toggle:before {
		content: "";
		display: inline-block;
		width: 6px;
		height: 10px;
		margin: 0 8px 0 2px;
		background-image: url("../../images/responsive/rwdUI.png");
		background-position: -221px -41px;
	}
	.homeHero > .textContainer > .toggle.selected:before {
		content: " ";
		width: 10px;
		height: 6px;
		margin: 2px 6px 2px 0;
		background-position: -241px -41px;
	}
	.carousel.active .homeHero > .textContainer > p {
		display: block;
	}
	.homeHero > .textContainer > .button {
		margin: 5px 0;
	}

}

/* 0-520px */

@media (max-width: 520px) {

	/* Flattened JPG - uncomment to use */
	/*
	.homeHero > .imageContainer > div {
		background-size: auto 385px;
		background-position: 75% 0;
	}
	*/
}

/* Heading styles */
/* TODO : les ids 1-3 pas en dur */
.homeHero .l, #homeHero3 .s { color: #0098d9; }
.homeHero .s { font-size: 390%; }
.homeHero .m { font-size: 780%; }
.homeHero .l { font-size: 960%; }
#homeHero2 .s { font-size: 370%; }
#homeHero2 .m { font-size: 820%; }
#homeHero2 .l { font-size: 820%; }
#homeHero3 .s { font-size: 400%; }
#homeHero3 .m { font-size: 820%; }
#homeHero3 .l { font-size: 820%; }
@media (max-width: 520px) {
	.homeHero .s { font-size: 170%; }
	.homeHero .m { font-size: 340%; }
	.homeHero .l { font-size: 390%; }
	#homeHero2 .s { font-size: 170%; }
	#homeHero2 .m { font-size: 360%; }
	#homeHero2 .l { font-size: 420%; }
	#homeHero3 .s { font-size: 170%; }
	#homeHero3 .m { font-size: 320%; }
	#homeHero3 .l { font-size: 370%; }
}
@media (min-width: 521px) and (max-width: 600px) {
	.homeHero .s { font-size: 300%; }
	.homeHero .m { font-size: 480%; }
	.homeHero .l { font-size: 530%; }
	#homeHero2 .s { font-size: 180%; }
	#homeHero2 .m { font-size: 370%; }
	#homeHero2 .l { font-size: 420%; }
	#homeHero3 .s { font-size: 200%; }
	#homeHero3 .m { font-size: 400%; }
	#homeHero3 .l { font-size: 450%; }
}
@media (min-width: 601px) and (max-width: 770px) {
	.homeHero .s { font-size: 330%; }
	.homeHero .m { font-size: 570%; }
	.homeHero .l { font-size: 680%; }
	#homeHero2 .s { font-size: 210%; }
	#homeHero2 .m { font-size: 430%; }
	#homeHero2 .l { font-size: 430%; }
	#homeHero3 .s { font-size: 250%; }
	#homeHero3 .m { font-size: 470%; }
	#homeHero3 .l { font-size: 470%; }
}
@media (min-width: 771px) and (max-width: 952px) {
	.homeHero .s { font-size: 370%; }
	.homeHero .m { font-size: 700%; }
	.homeHero .l { font-size: 790%; }
	#homeHero2 .s { font-size: 270%; }
	#homeHero2 .m { font-size: 580%; }
	#homeHero2 .l { font-size: 580%; }
	#homeHero3 .s { font-size: 320%; }
	#homeHero3 .m { font-size: 620%; }
	#homeHero3 .l { font-size: 690%; }
}
@media (min-width: 953px) and (max-width: 1133px) {
	#homeHero2 .s { font-size: 270%; }
	#homeHero2 .m { font-size: 720%; }
	#homeHero2 .l { font-size: 720%; }
}
@media (min-width: 1281px) {
	.homeHero .s { font-size: 400%; }
	.homeHero .m { font-size: 950%; }
	.homeHero .l { font-size: 990%; }
	#homeHero3 .s { font-size: 400%; }
	#homeHero3 .m { font-size: 920%; }
	#homeHero3 .l { font-size: 990%; }
}

/* Language-specific overrides */

html[lang="fr"] .homeHero > .textContainer > h3 { font-size: 7px; }
@media (max-width: 600px) {
	html[lang="fr"] .homeHero > .textContainer > .button { font-size: 14px; }
}

/* RTL language overrides */

html[lang="ar"] .homeHero-background,
html[lang="he"] .homeHero-background {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	filter: fliph();
}
html[lang="ar"] .homeHero > .imageContainer,
html[lang="he"] .homeHero > .imageContainer {
	left: 0;
	right: auto;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	filter: fliph();
}
html[lang="ar"] .homeHero > .imageContainer > div,
html[lang="he"] .homeHero > .imageContainer > div {
	float: left;
}
html[lang="ar"] .homeHero > .textContainer,
html[lang="he"] .homeHero > .textContainer {
	position: relative;
	margin: 0 20% 0 30%;
}
html[lang="ar"] .homeHero > .textContainer > p,
html[lang="he"] .homeHero > .textContainer > p {
	margin: 8px 0 8px 20%;
}

/* TODO : les images pas en css */
@media (max-width: 600px) {
	html[lang="ar"] .homeHero > .textContainer > .toggle:before,
	html[lang="he"] .homeHero > .textContainer > .toggle:before {
		margin: 0 2px 0 8px;
		background-image: url("../../images/responsive/rwdUI_rtl.png");
	}
	html[lang="ar"] .homeHero > .textContainer > .toggle.selected:before,
	html[lang="he"] .homeHero > .textContainer > .toggle.selected:before {
		margin: 2px 0 2px 6px;
	}
	html[lang="ar"] .homeHero > .textContainer > p,
	html[lang="he"] .homeHero > .textContainer > p {
		margin: 5px 0 5px 20%;
	}
}

/* High-resolution displays */
/* TODO : les images pas en css */

@media (-webkit-device-pixel-ratio: 2) and (max-width: 600px) {
	.homeHero > .textContainer > .toggle:before {
		background-image: url("../../images/responsive/rwdUI@2x.png");
		background-size: 300px 400px;
	}
	html[lang="ar"] .homeHero > .textContainer > .toggle:before,
	html[lang="he"] .homeHero > .textContainer > .toggle:before {
		background-image: url("../../images/responsive/rwdUI_rtl@2x.png");
	}
}


/* ************** OTHER MEAS ************** */

.rowCol2 > ul, .rowCol3 > ul, .rowCol4 > ul, .rowCol5 > ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.rowCol2 > ul > li, .rowCol3 > ul > li, .rowCol4 > ul > li, .rowCol5 > ul > li {
	float:left;
/*	display: inline-block; */
	position: relative;
	text-align: center;
	vertical-align: top;
}
.rowCol2 > ul > li { width: 50%; }
.rowCol3 > ul > li { width: 33.3333%; }
.rowCol4 > ul > li { width: 25%; }
.rowCol5 > ul > li { width: 20%; }
.rowCol3 > ul > li > a, .rowCol4 > ul > li > a, .rowCol5 > ul > li > a {
	margin: 20px;
	display: block;
	text-transform: uppercase;
	position: relative;
}

/* linksBlock + servicesBlock + catalogBlock + engageBlock */
.linksBlock {
	text-align: center;
	background: url('../images/backgroundLinksBlock.jpg') no-repeat 0 0;
	padding: 50px 0;
}
.servicesBlock, .engageBlock {
	background-color: #f7f7f7;
	font-size: 12px;
	font-weight: bold;
	color: #212121;
	text-align: center;
	padding: 20px 0;
}
.servicesBlock > ul > li > a > img, .engageBlock > ul > li > a > img, .lapeyreMobile > ul > li > a > img {
	display: block;
	margin: 0 auto 15px;
}
.catalogBlock {
	height: 130px;
	overflow: hidden;
}
.catalogBlock > ul > li {
	vertical-align: middle;
}
.catalogBlock > ul > li > a > img {
	margin-top: 45px;
	-webkit-transition: margin .2s ease;
	-moz-transition: margin .2s ease;
    -o-transition: margin .2s ease;
    -ms-transition: margin .2s ease;
    transition: margin .2s ease;
}
.catalogBlock > ul > li > a:hover > img, .catalogBlock > ul > li > a:hover > span {
	margin-top: -75px;
	opacity: 1;
}
.catalogBlock > ul > li > a > span {
	position: absolute;
	top: 28px;
	left: 55px;
	color: #fff;
	opacity: .5;
	margin-top: 45px;
	text-transform: none;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	max-width: 120px;
	-webkit-transition: margin .2s ease;
	-moz-transition: margin .2s ease;
    -o-transition: margin .2s ease;
    -ms-transition: margin .2s ease;
    transition: margin .2s ease;
}
.engageBlock p {
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	max-width: 140px;
	display: block;
	margin: 20px auto 0;
}
.lapeyreMobile > ul > li > a, .lapeyreMobile p {
	font-size: 13px;
	text-align: center;
	margin: 20px; 
}
.lapeyreMobile > ul > li > a > span {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px; 
}


.product_listing_container ul li { text-align: center; }
.product_listing_container ul.list_mode li { text-align: left; }
.product_listing_container .linkToArticle {
	margin: 0 auto;
}

.univers .linkToArticle .title {
	font-size: 13px;
	font-family: 'roboto', sans-serif;
}

.univers h1 { 
	font-size: 30px;
	display: block;
	margin: 10px auto 0;
	text-align: center;
}


/* contrib1 */
.contrib1 {
	position: relative;
	height: 335px;
	overflow: hidden;
}
.contrib1 > .backgroundContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.contrib1 .right {
	width: 325px;
	margin-right:20px;
	position: relative;
	z-index: 1;
}
.contrib1 .left {
	width: 55%;
	position: relative;
	z-index: 1;
}
.contrib1 .left .textContainer .title {
	margin: 10px 0 10px 20px;
	font-size: 38px;
	display: block;    
	color: #fff;
    text-transform: none;
	font-weight: 300;
	font-family: 'roboto condensed', sans-serif;
}
.contrib1 .left .textContainer .bodytext {
	padding: 12px 20px 15px;
    background-color: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 15px;
}
.contrib1 .left .textContainer .bodytext span {
	font-style:italic;
	display: block;
	margin-top: 20px;
	font-weight: bold;
}
.contrib1 .left .textContainer .button {
	margin-left: 20px;
	display: inline-block;
	width: auto;
	text-transform: none;
	color: #666;
}
.contrib1 .linkToArticle {
	width: 320px;
	height: 138px;
	position: relative;
	margin: 20px 10px 0;
}
.contrib1 .linkToArticle .title {
	position: absolute;
	z-index:10;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 30px 0 10px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}
.contrib1 .backgroundContainer.video {
	z-index: 2;
	left: 130px;
	top: 10px;
	bottom: inherit;
	position: absolute;
	width: auto;
	height: auto;
}

.desktop-hidden { display: none !important; }


.blockPresentation .textContainer {
	position: relative;
	margin: 75px 20px 0;
	color: #fff;
	font-size: 15px;
	display: inline-block;
}
.blockPresentation  .textContainer > h3, .edito .blockPresentation.article  .textContainer > p  {
	font-size: 50px;
	line-height: 1;
	text-shadow: 0px 0px 20px #000;
	font-weight: normal;
	font-style: normal;
}
.blockPresentation  .textContainer > .toggle {
	display: none;
}
.blockPresentation  .textContainer > p, .edito .blockPresentation.article  .textContainer > h3 {
	margin: 0;
	font-size: 24px;
	font-style: italic;
	text-shadow: 0px 0px 15px #000;
}
.blockPresentation  .textContainer > .button {
	margin: 30px 0;
	color: #212121;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
}

.editoBackground {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 330px;
	text-align: center;
}
.blockPresentation {
	position: relative;
	text-align: center;
	height: 330px;
	width: 100%;
	overflow: hidden;
}
.blockPresentation .button {
	color: #212121;
	margin-top: 20px;
}
.blockPresentation .bottomTextContainer {
	display: block;
	position: absolute;
	bottom: 4px;
	width: 100%;
	padding: 20px 0;
	color: #fff;
	font-size: 22px;
	font-style: italic;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}


.carousel.mini {
    height: 100%;
    width: 100%;
}
.carousel.mini .homeHero-background  { height: 100% !important; }
.carousel.mini .homeHero-background img { margin-left: -380px !important; height: 100%; }


/* /Karine */


.textContainer .title {
			font-family: arial, helvetica;
			font-weight: bold;
			font-size: 40px;
			color: #073769;
			line-height: 42px;
			margin-bottom: 10px;
			text-transform: uppercase;
	}
.textContainer .bodyText {
		font-family: arial, helvetica;
		font-size:14px;
		color: #073769;
		line-height: 14pt;
		margin-left:1px;
	}
.textContainer .button {
	}

h1 {
	padding: 0 10px;
	font-size: 28px;
	font-weight: inherit;
}


.page_size_label > label,
.order_by_label > label {
	text-transform: uppercase;
}
.selectWrapper {
	position: relative;
	display: inline-block;
	border: 1px solid #e9e9e9;
	border-radius: 5px;
	-moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.selectWrapper:hover {
	background-color: #e0e0e0;
	border-color: #e0e0e0;
}
.selectWrapper .dijitMenuTable {
	background-color: #ffffff;
	border-collapse: collapse;
	border: 1px solid #898989;
}
.selectWrapper .dijitSelect {
	padding: 2px;
	border-radius: 5px;
	color: #545454;
	font-size: 14px;
	cursor: pointer;
	min-width: 140px;
	min-height: 39px;
}
.selectWrapperPageSize .dijitSelect {
	min-width: 0px;
}
.selectWrapperPageSize .dijitSelect .dijitReset:first-child {
	display: none;
}
.selectWrapper .dijitSelect .dijitButtonText {
	padding: 0 6px;
	font-size: 13px;
}
.selectWrapper .dijitSelect .dijitArrowButtonContainer:before {
	content: "";
	display: block;
	width: 12px;
	height: 6px;
	margin: 10px 7px;
	float: right;
	background-image: url("../images/responsive/rwdUI_k.png");
	background-position: -59px -30px;
}
.selectWrapper .dijitSelect .dijitValidationContainer, .dijitSelect .dijitArrowButtonInner {
	display: none;
}
#pageSize_menu {
	width: 40px !important;
}
div[id^="orderBy_"][id$="dropdown"] > div[id^="orderBy_"][id$="menu"] > table ,
#pageSize_dropdown > #pageSize_menu > table ,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table {
	position: relative;
	border: 1px solid #898989;
	background: #FFF;
	z-index: 20;
}
div[id^="orderBy_"][id$="dropdown"] > div[id^="orderBy_"][id$="menu"] > table tr td,
#pageSize_dropdown > #pageSize_menu > table tr td,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr td {
	height: 16px;
	padding: 12px 0;
	font-size: 13px;
	line-height: 16px;
	padding-left: 5px;
	color: #545454;
	border-bottom: 1px solid #898989;
	list-style: none;
}
#pageSize_dropdown > #pageSize_menu > table tr td {
	text-align: center;
}
div[id^="orderBy_"][id$="dropdown"] > div[id^="orderBy_"][id$="menu"] > table tr.dijitSelectSelectedOption,
#pageSize_dropdown > #pageSize_menu > table tr.dijitSelectSelectedOption,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr.dijitSelectSelectedOption  {
	background: #898989;
}
div[id^="orderBy_"][id$="dropdown"] > div[id^="orderBy_"][id$="menu"] > table tr.dijitMenuItemSelected,
#pageSize_dropdown > #pageSize_menu > table tr.dijitMenuItemSelected,
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr.dijitMenuItemSelected  {
	background: #898989;
}
div[id^="orderBy_"][id$="dropdown"] > div[id^="orderBy_"][id$="menu"] > table tr.dijitMenuItemSelected > td:nth-child(2),
#pageSize_dropdown > #pageSize_menu > table tr.dijitMenuItemSelected > td:nth-child(2),  
div[id^="attrValue_"] > div[id^="attrValue_"] > table tr.dijitMenuItemSelected > td:nth-child(2) {
	color: #FFF !important;
}
div[id^="orderBy_"][id$="dropdown"] > div[id^="orderBy_"][id$="menu"] > table tr.dijitSelectSelectedOption > td:nth-child(2),
#pageSize_dropdown > #pageSize_menu > table tr.dijitSelectSelectedOption > td:nth-child(2),
div[id^="attrValue_"]  > div[id^="attrValue_"] > table tr.dijitSelectSelectedOption > td:nth-child(2) {
	color: #FFF !important;
}
.view_controls > *, .paging_controls > * {
	display: inline-block;
	vertical-align: middle;
}
.paging_controls > .invisible {
	display: none;
}
.pages > * {
	display: inline-block;
	vertical-align: middle;
}
.pages > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pages > ul > * {
	display: inline-block;
	vertical-align: middle;
}
.pages > ul > .active {
	width: 39px;
	background-color: #767676;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	color: #ffffff;
	line-height: 39px;
	text-align: center;
}
.controlBar .pageControl {
	list-style: none;
}
.hoverover > a {
	display: block;
	width: 39px;
	border: 1px solid #a0a0a0;
	border-radius: 5px;
	line-height: 39px;
	text-align: center;
}
.hoverover > a:hover {
	background-color: #767676;
	color: #fff;
}
.left_arrow > img, .right_arrow > img {
	display: block;
	padding: 10px;
}

.grid > .col {
	float: left;
}
.grid:after {
	content: "";
	display: block;
	clear: both;
}


.button.primary {
	display: inline-block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FBBB0B), to(#EE9505));
	background-image: linear-gradient(#FBBB0B, #EE9505);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FBBB0B', endColorStr='#EE9505')";
	border-radius: 4px;
	width: 200px;
	max-width: 100%;
	line-height: 29px;
	min-height: 29px;
	text-align:center;
	border: 1px solid #BFBFBF;
	color: #333333;
	font-size:14px;
}

.button.primary:hover, .button.primary:focus {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FED60C), to(#F8AF06));
	background-image: linear-gradient(#FED60C, #F8AF06);
	-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FED60C', endColorStr='#F8AF06')";
}


.pagingLeft {
	float: left;
	background-position: -21px -1px;
	width: 6px;
	height: 12px;
	margin-top: 13px;
	margin-right: 17px;
}

.pagingRight {
	float: left;
	background-position: -41px -1px;
	width: 11px;
	height: 12px;
	margin-top: 13px;
	margin-left: 16px;
}

@media screen and (max-width: 952px) {
	.pageSelectionBP1 {
		display: block;
	}
}

@media screen and (max-width: 856px) {

	div.widget_title_container h1 {
		font-size: 23px;
	}
}




/*@BP-A 0-600px*/
@media screen and (max-width: 600px) {
	.textContainer .title {
		font-size: 22px;
		line-height: 18pt;
	}
	.textContainer .bodyText {
		font-size: 12px;
		line-height: 13pt;
	}

	#content .collapsible {
		border-radius: 0;
	}
}


@media (-webkit-device-pixel-ratio: 2) {
	#content .collapsible > h3:before,
	.searchAssocAssets > a > .arrow,
	.productDescDropMerch > a > .arrow,
	.selectWrapper .dijitSelect .dijitArrowButtonContainer:before,
	.facetWidget .dropdownIcon,
	.facetWidget .close,
	.facetSelect li input:checked + a .checkBox > .checkmark,
	.optionContainer .arrow,
	.pageSelectionBP1 > .pageNumber.active > .arrow,
	.pages .pageNumber > .arrow,
	.pageControl.number > .dropdownToggleButton > .arrow,
	.pageOptionsDropdown > .pageDropdownClose,
	.pageDropdownClose {
		background: url('../images/responsive/rwdUI@2x.png');
		background-size: 300px 400px;
	}
	.grid_icon:before, .list_icon:before {
		content: url("../images/responsive/rwdUI@2x.png");
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0 0;
	}
	a.grid_icon:before {
		clip: rect(42px,116px,76px,82px);
	}
	div.grid_icon:before, a.grid_icon:hover:before {
		clip: rect(42px,156px,76px,122px);
	}
	a.list_icon:before {
		clip: rect(42px,196px,76px,162px);
	}
	div.list_icon:before, a.list_icon:hover:before {
		clip: rect(42px,236px,76px,202px);
	}
}



/* navPanel */
#overlay {
	position: fixed;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .4;
	z-index: 99;
	display: none;
}
.navPanel {
	width: 260px;
	bottom: 0;
	background: #fff;
	position: fixed;
	left: -260px;
	z-index: 100;
	top: 50px;
	overflow: auto;
}
#headerMobile {
	display: none;
}

@media (max-width: 870px) {
	.product_listing_container > .grid_mode li {
		width: 50% !important;
	}
}
@media (max-width: 800px) {
	.desktop-hidden { display: block !important; }
	#content > .rowContainer { padding: 0; }
	#headerMobile {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		text-align: center;
		background: #fff;
		z-index: 100;
	}
	#contentWrapper {
		margin-top: 50px;
	}
	.univers #contentWrapper {
		margin-top: 100px;
	}
	#headerMobile > div {
		display: inline-block;
		text-align: center;
		height: 50px;
		vertical-align: middle;    
		margin-top: 5px;
	}
	#headerMobile > div:nth-child(1), #headerMobile > div:nth-child(2), #headerMobile > div:nth-child(4), #headerMobile > div:nth-child(5) {
		width: 15%;
	}
	#headerMobile > div:nth-child(3) {
		width: 30%;
	}
	#headerMobile > div:nth-child(3)  img{
		height: 80%;
	}
	#slider-arrow {
		display: block;
	}
	#MyAccountInOut,
	#headerRow1, #headerRow1 .right,
	#departmentsMenu > li.pipe,
	#quickLinksBar > li:nth-child(4),
	#widget_breadcrumb	{
		display: none;
	}
	#departmentsMenu > li:nth-child(2n), #departmentsMenu > li:nth-child(2n+1) {
		width: 100%;
		overflow: hidden;
	}
	.departmentMenu > .header {
		border-bottom : 1px solid #d3d3d3;
		padding: 0;
	}
	.departmentMenu > .header > .link {
		margin: 0;
		padding: 18px 0;
	}
	.departmentMenu > .header > .link:hover {
		color: #fff;
		background-color: #cd0018;
		text-decoration: none;
	}
	.departmentMenu > .header > .toggle {
		right: 0;
	}
	ul#departmentsMenu li > .departmentMenu .header {
		width: 100%;
	}
	#headerRow1 #logo, #quickLinksBar > li {
		display: block;
		position: relative;
		height: auto;
	}
	#headerRow1 {
		padding: 6px 0 10px;
	}
	#quickLinksBar > li > a {
		max-width: none;
		padding: 18px 0;
		text-align: center;
		width: 100%;
	}
	#logo {
		width: 100px;
		margin: 0 auto 10px;
	}
	#headerMobile #searchBar {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 45px;
		height: auto;
		width: auto;
		padding: 8px;
		border-radius: 0;
		background: rgba(0,0,0,0.5);
	}
	#searchBox {
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
	}	
	#searchTermWrapper {
		padding: 0 10px;
	}
	#searchBox > .submitButton:before {
		clip: rect(25px, 39px, 44px, 20px);
		left: -21px;
		top: -26px;
	}
	.rowCol4 > ul > li {
		width: 50%;
	}
	.linksBlock {
		background-size: cover;
		background-position: 50%;
		padding: 30px 0;
	}
	.servicesBlock > ul > li > a { 
		margin: 0; 
		text-transform: none;
	}
	.product_info > .product_price > span.price {
		font-size: 30px;
	}
	.rowCol4 > ul > li > a, .rowCol5 > ul > li > a { margin: 10px; }
	h2.titleBlock, h2.titleBlock span {
		background: #f7f7f7;
		padding: 15px;
		margin: 35px 0 15px;
		font: normal 13px 'roboto condensed';
	}
	h2.titleBlock span {
		padding: 0;
	}
	.ficheTitle { 
		margin-top: 50px;
		text-align: center;
		padding: 15px 0;
	}
	.ficheImage {
		padding: 0 ;
		width: 100%;
		margin-bottom: -5px;
		margin-top: 0;
	}
	.ficheImage.surMesure {
		margin: 0 0 20px;
		width: 100%;
	}
	.ficheImage.collection {
		margin: 0;
		width: 100%;
	}
	.ficheImage.collection .fichePrix.discount {
		height: 105px;
		margin-top: -6px;
	}
	.ficheImage.collection .fichePrix.discount > div {
		padding: 10px 0;
	}
	.ficheDesc {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.ficheDesc > * {
		margin: 0 15px;
	}
	.fichePrix {
		text-align: center;
		padding: 0 !important;
		width: 100%;
	}
	.fichePrix.discount {
		height: 85px;
		padding: 0;
		margin-top: 10px;
	}
	.fichePrix span.withDiscount span.old_price_value,
	.fichePrix span.withDiscount span.price,
	.fichePrix span.asterix {
		display: block;
		line-height: 30px;
		text-align: center;
	}
	.ficheActions {
		min-height: 0;
	}
	.ficheActions .ficheLivraison img, .ficheActions .ficheDispo img {
		width: 9%;
	}
	.ficheActions .ficheLivraison p, .ficheActions .ficheDispo p {
		width: 85%;
	}
	.widget_product_image_viewer .image_container > img {
		max-width: none;
	}
	.widget_product_image_viewer > .content > .other_views {
		margin: 0 15px;
	}
	.product_text {
		margin-top: 20px;
	}
	.descriptionDetaillee {
		margin: 0 15px;
	}
	.personnalisation div[class^="perso"] img {
		width: 32px;
		height: 32px;
	}
	.row.collapsOnMobile > .collapsible > h2.titleBlock:after {
		background: url("../images/responsive/rwdUI_k.png") repeat scroll -70px -88px rgba(0, 0, 0, 0);
		content: "";
		display: inline-block;
		height: 16px;
		position: absolute;
		right: 10px;
		top: 36%;
		width: 16px;
	}
	.row.collapsOnMobile > .collapsible[aria-expanded="false"] > h2.titleBlock:after {
		background-position: -56px -88px;
	}
	.row.collapsOnMobile > .collapsible .listePictos.right {
		float: none;
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	ul#departmentsMenu li:first-child:hover > .departmentMenu{
		display: block;
	}
	footer {
		z-index: 10;
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 50px;
		background: #595959; /* Old browsers */
		background: -moz-linear-gradient(top,  #595959 0%, #3a3a3a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #595959 0%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #595959 0%,#3a3a3a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #595959 0%,#3a3a3a 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #595959 0%,#3a3a3a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
		color: #fff;
		text-align: center;
		font: 300 13px 'roboto condensed';
	}
	footer ul > li > a { 
		margin: 0;
		text-transform: lowercase;
		font-style: italic;
	}
	footer ul > li > a > img {
		display: block;
		margin: 8px auto 0;
	}
	footer ul > li > a > .nbItemInBasket {
		position: absolute;
		top: 5px;
		color: #cd0018;
		font: bold 13px 'roboto condensed', sans-serif;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.colContainer { width: 100%; }
	.colContainer .colBlock {
		width: 90%;
		margin: 0 auto;
		display: block;
		float: none;
	}
	.colContainer .colBlock:first-child {
		margin: 0 auto 20px;
	}
	.servicesBlock, .engageBlock {
		background-color: transparent;
		color: #212121;
		font-size: 12px;
		font-weight: bold;
		padding: 0;
		text-align: center;
	}
	iframe#maps {
		height: 185px;
		width: 100%;
		overflow: hidden;
	}

	.mobile-hidden, .categoryList, .categoryAside, ul#departmentsMenu li:hover > .departmentMenu .categoryList, ul#departmentsMenu li:hover > .departmentMenu .categoryAside, .compare_target { display: none !important; }
}



@media (max-width: 480px) {
	.linkToArticle {    
		display: block;
		height: 290px;
		margin: 10px auto;
		min-width: 290px;
	}
}

@media (max-width: 400px) {
	.servicesBlock > ul > li > a > img {
		width: 70%;
	}
	
}

     