
/*-------------------------------------------------------------*\
    $RESPONSIVE
    Responsive style
\*-------------------------------------------------------------*/

/* Desktop */
@media screen and (min-width: 1200px) {
	.push-loyalty-info {
		left: 100px !important;
	}
	.footer-bottom li {
		padding: 0 20px;
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	input[type="email"].subscription-input {
		border-radius: 2px 2px 0 0;
	}
	
	.subscription-button {
		border-radius: 0 0 2px 2px;
	}
	
	.subscription-title {
		font-size: 20px;
	}
	
	.shareSocialNetwork>ul>li>a div {
		width: 30px;
	}
}

/* Tablet */
@media screen and (max-width: 1199px) {
	#footerRow2 > div {
		padding-left: 0;
	}
	
	.footer-mid {
    	padding: 0 !important;
    	margin-left: 15px !important;
    	margin-right: 15px !important;
	}
	
	#footerCMSContent .footer-section:first-child {
		border-top: 1px #6e6b6b solid;
		margin-top: 20px;
	}
	
	.footer-section {
		border-bottom: 1px #6e6b6b solid;
	}
	
	.footer-header {
	    text-align: left;
	    padding: 20px 0;
	    margin: 0px;
	    font-size: 13px;
	    font-family: 'Roboto Condensed', sans-serif;
	    font-weight: bold;
	    display: block;
	    color: white;
	}
	
	.footer-header .plusMinusWhitePicto {
		float: right;
	} 
	
	.footer-list-cms {
	    list-style: none;
	    display: none;
	    padding: 0 0 30px 10px;
	    color: white;
	}
	
	.footer-bottom-links ul {
		list-style: none;
		display: flex;
	    padding: 0;
	    justify-content: space-between;
	    flex-wrap: wrap;
	}
	
	.footer-mid > div {
		padding: 0 !important;
	}
	
	.footer-bottom-links {
		padding: 0 !important;
	}

	.footer-bottom-links ul li {
		display: inline-block;
	}
	
	.footer-bottom-links ul li {
		padding: 0 !important;
		margin-top: 10px;
	}
	
	.footer-bottom {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox; /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
		display: -webkit-flex;
		flex-direction: column;
		margin-left: 15px !important;
    	margin-right: 15px !important;
	}
	#footerCopyright {
	    order: 2;
	    text-align: center;
	    border-top: solid 1px #595757;
	    margin-top: 35px;
	    padding-top: 30px;
	    color: #b6b5b5;
	}
	#footerCMSContent {
    	width: 100%;
	}
	.footer-bottom li {
		padding: 5px 5px;
	}
	footer ul {
        text-align-last: justify;
    	text-align: justify;
	}
	#copyright{
    	text-align: center;
    	color: #c8c8c8;
    	margin-top: 10px;
	}
	#footerCMSLinks .footer-bottom-links{
		margin-bottom: 20px;
	}
}